<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--File appender -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/scheduler/log.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/scheduler/log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.example.scheduler" level="trace" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="sout"/>
    </logger>

    <!-- Root logger -->
    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="sout"/>
    </root>
</configuration>